doctype html
html(lang ="en" ng-app="helloWorld")
  head
    script(src='angular.js')
    script(src='angular-resource.js')
    script(src='index.js')
    script(src='js/app.js')
    script(src='js/helloWorldController.js')
    title=helloWorld
  body(ng-controller="helloWorldController as helloWorldCtrl")
    p {{ helloWorldCtrl.helloWorld }}
